:root {
  --primary-color: blueviolet;
  --background-color: #0c0d13;
  --card-background-color: #272626;
  --button-hover-color: rgb(170, 110, 226);
  --next-button-color: green;
  --quit-button-color: red;
  --default-font-family: roboto;
}

html {
  font-family: var(--default-font-family), sans-serif;
}
