@import url(/main.css);
body {
  background: var(--background-color);
  color: var(--white);
}

a {
  text-decoration: none;
}

.answers-page {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.answers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  color: var(--white);
  padding: 2rem;
  gap: 2rem;
}

.question {
  width: 100%;
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.next-button-and-quit {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.next-button-and-quit a:nth-child(1) {
  color: var(--quit-button-color);
}

.next-button-and-quit a:nth-child(2) {
  color: var(--next-button-color);
}

.primary-button:hover {
  background-color: var(--button-hover-color);
}

.alert {
  width: 100%;
}

.alert {
  padding: 1rem;
  justify-content: center;
  border-radius: 1rem;
  color: white;
}

.success {
  background-color: var(--next-button-color);
}

.error {
  background-color: var(--quit-button-color);
}

.normal {
  background-color: var(--primary-color);
}

.options {
  margin-top: 2rem;
}

.result-container:last-child {
  padding-bottom: 2rem;
}
